@charset "utf-8";
/* CSS Document */


/***** Header & Nav *****/
* {
        margin: 0;
        padding: 0;
        border: 0;
        outline: 0;
        font-size: 100%;
        vertical-align: baseline;
        background: transparent;
    }

html {
    overflow-y:scroll;
}

header {
	height: 64px;
	width: 100%;/*468*/
	background-color: #0E237F;
	margin:auto;
	min-width: 960px;
}

header img {
	top: 5px;
	left: 20px;
	position: relative;
	
}

header::after {
	content:'';
	display: table;
	clear:both;
}

#nav {
	
	float:right;
	position: relative;
	left:-50px;
	font-family: "Gill Sans", "Gill Sans MT", "Myriad Pro", "DejaVu Sans Condensed", Helvetica, Arial, "sans-serif";
}

#nav ul {
	margin: 0;
	padding: 0;
	list-style: none;
}

#nav li {
	display: inline-block;
	margin-left:50px;
	padding-top: 25px;
}

#logo {
	float:left;
}


#nav li a {
	text-decoration: none;
	color:#ffffff;
	
}

#nav li a:visited {
	text-decoration: none;
}


.active{
	
}







/***** Content *****/

#content {
	/*width: 100%;*/
	width: 960px;
	margin: auto;
	padding-bottom: 50px;
	position: relative;
	/*min-width: 960px;*/
	top:30px;
	padding-top: 50px;
	
}

#content * {
	padding: 0px 10px;
}


/*---------- Home Page ----------*/


#banner {
	height:200px;
	width: 100%;
	margin:auto;
	position: relative;
	background-color:red;
	min-width: 960px;
	background-image: url(pictures/bannerPrototype.png);
		
	
}



#introduction {
	padding: 75px 175px 100px 175px;
	text-align: justify;
	
}


#introduction img {
	float: right;
	padding-left: 20px;
}


h3.indexHeading {
	font-size: 36px;
}




h3 {
	text-align: center;
	font-family: "Gill Sans", "Gill Sans MT", "Myriad Pro", "DejaVu Sans Condensed", Helvetica, Arial, "sans-serif";
}
#courseSelection {
	z-index: 5;
	padding-top: 50px;
	padding-bottom: 50px;
	position: relative;
	 box-shadow: 0px 0px 10px grey;
}

#advertisment img{
	float: left;
}


#perSemester {
	width: 200px;
	height: 200px;
	background-image: url(#);
	background-color:aliceblue;
	transition: background-color .5s;
	/*will become background-image later*/
}

#perSemester:hover{
	background-color:transparent;
	
}

#perWeek {
	width: 200px;
	height: 200px;
	background-color:aliceblue;
	background-image: url(#);
	transition: background-color .5s;
	/*will become background-image later*/
}

#perWeek:hover{
	background-color:transparent;
}




#howItWorks h3 {
	padding: 10px;
	padding-bottom:40px;
	
}

#howItWorks{
	padding-top:75px;
	padding-bottom:75px;
	/*background-color: #FFFEE3;*/
	background-color:#D9D9D9;
}

#howItWorks ol {
	width: 600px;
	margin:auto;
	
}

#howItWorks li {
	padding: 20px;
}




#howItWorksImg {
	width:960px;
	margin:auto;
}






/*---------------Course Selection----------------*/



.heading {
	font-size: 24px;

	
}


.pageContent {

	width: 100%;
	height: 100%;
	margin: auto;
	padding-bottom: 50px;
	position: relative;
	min-width: 960px;
	padding-top:50px;
	top:30px;
	
}



.pageContent * {
	padding: 0px 10px;
}




#contentCourseSelection table{
	padding: 50px;
}

#contentCourseSelection td {
	/*width:200px;
	height:200px;*/
	width: 340px;
	height: 227px;
}

.courseCatalog {
	width: 70%;
	margin:auto;
	margin-left: 275px;
	top: 30px;
	position: relative;
	
	
	
}

.courses {
	font-size: 20px;
	padding: 20px 50px;
}


#courseCatalogNav {
	position:relative;
	float:left;
	width: 200px;
	height: 100%;
	background-color: #E7E7E7;
	top: -57px;
}

#courseCatalogNav li {
	padding: 10px;
}

#courseCatalogNav a {
	text-decoration: none;
	color: black;
	display: block;
}

.sideNavHeading {
	background-color: #D9D9D9;
	width: 200px;
	position: relative;
	left: -20px;
}

#courseCatalogNav ul {
	list-style-type: none; 
}

/*---------- Kits ----------*/

#contentKits{
	width: 960px;
}

#contentKits *{
	margin: auto;
}

#shopNow{
	text-align: center;
}
#shopNow button {
	
	background-color: #0E237F;
	color:#fff;
	border-radius: 50px;
	padding: 30px;
	width: 200px;
	cursor: pointer;
}

#contentKits{
	width: 960px;
}

#contentKits *{
	margin: auto;
}

#shopNow{
	text-align: center;
}
#shopNow button {
	
	background-color: #0E237F;
	color:#fff;
	border-radius: 50px;
	padding: 30px;
	width: 200px;
	cursor: pointer;
}





/*---------- Contact ----------*/

#contentContact a{
	text-decoration: none;
}

#contentContact {
	width: 960px;
}

#contentContact p{
	text-align: center;
}

#faq .question {
	text-align: left;
	font-weight: bold;
}

#faq .answer {
	text-align: left;
	
}






/*---------- About ----------*/

#aboutUsDescription {
	padding: 50px;
}


/*---------- Login ----------*/

p #logIn{
	text-align: center;
}



/*---------- Registration ----------*/



/*---------- studentPortal ----------*/

#welcomeName {
	text-align: right;
	padding-top: 20px;
	position: relative;
	padding-right: 30px;
}

#yourClasses {
	background-color: aliceblue;
	/*background color temporary*/
	width: 250px;
	padding: 50px;
	position: relative;
	float: left;
}

#code {
	background-color: aliceblue;
	/*background color temporary*/
	width: 250px;
	padding: 50px;
	position: relative;
	float: right;
	
}

/*---------- classPortal ----------*/

#classInfo {
	background-color: aliceblue;
	/*background color temporary*/
	position: relative;
	float: left;
}

#fileList {
	position: relative;
	left: 500px;
}



/***** Footer *****/

#footer h3{
	text-align: left;
}

.classFooter {
	top: 50px;
}



#footer {
	position:relative;
	background-color: #0E237F;
	width: 100%;
	height:250px;
	margin:auto;
	color: #ffffff;
	min-width: 960px;
}

#footer p, h3 {
	padding: 50px 0px 0px 50px;
}


/*
footer {
	margin-top: 20px; 
	padding-bottom:20px; 
	background-color:#e8491d; 
	text-align:center; 
	color:#ffffff; 
} */
